{% extends "base.html" %}

{% block resume_analyzing_page %}
<div class="jumbotron">


  <div class="container-fluid">

    <div id="middle-info" class="mt-3">
      <h2 id="tag-line">Resume Analyzer</h2>
    </div>

    <div class="row">
      <div class="col-lg-12 form-group-lg">
        <!-- form -->
        <form action="/go_analyzer" method="get">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Select your resume (.pdf)</label>
            <input type="file" class="form-control form-control-lg" name="query_resume_path" value="../resume/">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Analyze</button>
          </div>

        </form>

      </div>
    </div>

    <!-- Show block message -->
    {% block message %}
    {% endblock %}
  </div>
</div>

<div class="container">


  {% block content %}
  <hr />
  {% endblock %}

  <div class="row align-items-start">
    <!-- skills in demand vs your skills graph -->
    <div id="{{ids[0]}}"></div>
  </div>

  {% block Match_Score %}

  {% endblock %}

</div>

</div>
{% endblock %}